<template>
  <div class="Board flex flex-col gap-5">
    <label class="flex flex-col">
      <span>{{ t('shrinkage.board.wood_type.label') }}</span>
      <PDropdown
        v-model="selectedWood"
        :option-label="(w: Wood) => t(`resource.wood.${w.name}`)"
        :options="woods"
        class="w-full md:w-14rem capitalize"
      >
        <template #option="slotProps">
          <div class="flex align-items-center capitalize">
            {{ t(`resource.wood.${slotProps.option.name}`) }}
          </div>
        </template>
      </PDropdown>
    </label>

    <label class="flex flex-col">
      <span>{{ t('shrinkage.board.radial_length.label') }}</span>
      <PInputNumber v-model="radialLength" :max-fraction-digits="2" :min="0" suffix=" mm" />
    </label>

    <label class="flex flex-col">
      <span>{{ t('shrinkage.board.tangential_length.label') }}</span>
      <PInputNumber v-model="tangentialLength" :max-fraction-digits="2" :min="0" suffix=" mm" />
    </label>

    <label class="flex flex-col">
      <span>{{ t('shrinkage.board.current_moisture.label') }}</span>
      <PInputNumber
        v-model="moisture"
        :min="5"
        :max="30"
        :step="0.5"
        suffix=" %"
        :max-fraction-digits="2"
        show-buttons
        button-layout="horizontal"
        decrement-button-icon="pi pi-minus"
        increment-button-icon="pi pi-plus"
      />
    </label>
  </div>
</template>

<script lang="ts" setup>
import { useI18n } from 'vue-i18n'
import type { Wood } from '@/shrinkage/domain/entities/Wood'

const { t } = useI18n()

defineProps({
  woods: Array<Wood>
})

const selectedWood = defineModel<null | Wood>('selectedWood')
const radialLength = defineModel<number>('radialLength')
const tangentialLength = defineModel<number>('tangentialLength')
const moisture = defineModel<number>('moisture')
</script>
