<template>
  <div class="flex flex-col gap-5">
    <label class="flex flex-col">
      <span>{{ t('shrinkage.destination.min_temperature.label') }}</span>
      <PInputNumber
        v-model="minTemperature.value"
        :min="0"
        :max="90"
        :suffix="minTemperature.unit"
        show-buttons
        button-layout="horizontal"
        decrement-button-icon="pi pi-minus"
        increment-button-icon="pi pi-plus"
      />
    </label>

    <label class="flex flex-col">
      <span>{{ t('shrinkage.destination.max_temperature.label') }}</span>
      <PInputNumber
        v-model="maxTemperature.value"
        :min="0"
        :max="90"
        :suffix="maxTemperature.unit"
        show-buttons
        button-layout="horizontal"
        decrement-button-icon="pi pi-minus"
        increment-button-icon="pi pi-plus"
      />
    </label>

    <label class="flex flex-col">
      <span>{{ t('shrinkage.destination.min_humidity.label') }}</span>
      <PInputNumber
        v-model="minHumidity"
        :min="5"
        :max="95"
        :step="5"
        suffix=" %"
        show-buttons
        button-layout="horizontal"
        decrement-button-icon="pi pi-minus"
        increment-button-icon="pi pi-plus"
      />
    </label>

    <label class="flex flex-col">
      <span>{{ t('shrinkage.destination.max_humidity.label') }}</span>
      <PInputNumber
        v-model="maxHumidity"
        :min="5"
        :max="95"
        :step="5"
        suffix=" %"
        show-buttons
        button-layout="horizontal"
        decrement-button-icon="pi pi-minus"
        increment-button-icon="pi pi-plus"
      />
    </label>

    <PMessage :closable="false">
      {{
        t('shrinkage.destination.min_max_target_moisture.label', {
          min: targetMoisture.min.value.toPrecision(2),
          max: targetMoisture.max.value.toPrecision(2)
        })
      }}
    </PMessage>
  </div>
</template>
<script lang="ts" setup>
import { useI18n } from 'vue-i18n'
import MoistureRange from '@/hygroscopy/domain/value-objects/MoistureRange'
import type { Temperature } from '@/hygroscopy/presentation/models/Temperature'

const { t } = useI18n()

defineProps({
  targetMoisture: {
    type: MoistureRange,
    required: true
  }
})
const minTemperature = defineModel<Temperature>('minTemperature', { required: true })
const maxTemperature = defineModel<Temperature>('maxTemperature', { required: true })
const minHumidity = defineModel<number>('minHumidity', { required: true })
const maxHumidity = defineModel<number>('maxHumidity', { required: true })
</script>
