<template>
  <main class="Shrinkage GutterWrapper">
    <h1 class="font-bold text-3xl">{{ t('shrinkage.title') }}</h1>

    <section v-if="woods.length">
      <fieldset class="card">
        <legend class="font-semibold text-xl">{{ t('shrinkage.board.title') }}</legend>

        <Board
          v-model:selected-wood="selectedWood"
          v-model:radial-length="radialLength"
          v-model:tangential-length="tangentialLength"
          v-model:moisture="moisture"
          :woods="woods"
        />
      </fieldset>

      <fieldset class="card">
        <legend class="font-semibold text-xl">{{ t('shrinkage.destination.title') }}</legend>

        <Destination
          v-model:min-temperature="minTemperature"
          v-model:max-temperature="maxTemperature"
          v-model:min-humidity="minHumidity"
          v-model:max-humidity="maxHumidity"
          :target-moisture="targetMoisture"
        />
      </fieldset>
    </section>

    <section v-if="result" class="Shrinkage__Result card my-8 flex flex-row gap-5">
      <div>
        <h2 class="font-bold text-xl">
          {{ t('shrinkage.result.radial_length.label') }}
        </h2>
        <p>
          {{
            t('shrinkage.result.min', {
              length: result.radialLength.min.value.toFixed(1),
              unit: result.radialLength.min.unit
            })
          }}
        </p>

        <p>
          {{
            t('shrinkage.result.max', {
              length: result.radialLength.max.value.toFixed(1),
              unit: result.radialLength.max.unit
            })
          }}
        </p>
      </div>

      <div>
        <h2 class="font-bold text-xl">
          {{ t('shrinkage.result.tangential_length.label') }}
        </h2>

        <p>
          {{
            t('shrinkage.result.min', {
              length: result.tangentialLength.min.value.toFixed(1),
              unit: result.tangentialLength.min.unit
            })
          }}
        </p>

        <p>
          {{
            t('shrinkage.result.max', {
              length: result.tangentialLength.max.value.toFixed(1),
              unit: result.tangentialLength.max.unit
            })
          }}
        </p>
      </div>
    </section>
  </main>
</template>

<script setup lang="ts">
import { useI18n } from 'vue-i18n'
import { useShrinkageView } from '@/shrinkage/presentation/useShrinkageView'
import Board from '@/shrinkage/presentation/Board.vue'
import Destination from '@/shrinkage/presentation/Destination.vue'

const { t } = useI18n()

const {
  woods,
  selectedWood,
  radialLength,
  tangentialLength,
  moisture,
  minTemperature,
  maxTemperature,
  minHumidity,
  maxHumidity,
  targetMoisture,
  result
} = useShrinkageView()
</script>
