<template>
  <main class="GutterWrapper">
    <h1>{{ t('settings.title') }}</h1>

    <label>
      <span>{{ t('settings.locale') }}</span>
      <PDropdown
        v-model="selectedLocale"
        :options="locales"
        option-label="name"
        :placeholder="t('settings.select_locale')"
        class="w-full md:w-14rem"
      />
    </label>
  </main>
</template>

<script lang="ts" setup>
import { useI18n } from 'vue-i18n'
import { useSettingsView } from '@/settings/presentation/useSettingsView'

const { t } = useI18n()

const { selectedLocale, locales } = useSettingsView()
</script>
