<template>
  <h1 class="text-3xl font-bold">{{ t('hygroscopic_balance.title') }}</h1>

  <div class="card flex flex-col gap-5">
    <p>{{ t('hygroscopic_balance.description') }}</p>

    <label class="flex flex-col">
      <span>{{ t('hygroscopic_balance.temperature.label') }}</span>
      <PInputNumber
        v-model="temperature.value"
        :min="0"
        :max="getMaxAllowedTemperature()"
        :suffix="temperature.unit"
        show-buttons
        button-layout="horizontal"
        decrement-button-icon="pi pi-minus"
        increment-button-icon="pi pi-plus"
      />
    </label>

    <label class="flex flex-col">
      <span>{{ t('hygroscopic_balance.moisture.label') }}</span>
      <PInputNumber
        v-model="moisture"
        :min="0"
        :max="95"
        :step="5"
        suffix="%"
        show-buttons
        button-layout="horizontal"
        decrement-button-icon="pi pi-minus"
        increment-button-icon="pi pi-plus"
      />
    </label>
  </div>

  <div class="card">
    {{ t('hygroscopic_balance.result', { value: result }) }}
  </div>
</template>

<script setup lang="ts">
import { useI18n } from 'vue-i18n'
import { useHygroscopicBalanceView } from '@/hygroscopy/presentation/useHygroscopicBalanceView'

const { t } = useI18n()

const { temperature, moisture, result, getMaxAllowedTemperature } = useHygroscopicBalanceView()
</script>
