<template>
  <main>
    <h1 class="text-3xl font-bold">Min/max hygroscopic balance</h1>

    <div class="card flex flex-col gap-5">
      <p>
        Compute the min/max hygrometric balance of your wood, depending of the min/max of
        temperature and moisture of the room.
      </p>

      <div class="flex flex-wrap gap-5">
        <label class="flex flex-col">
          <span>Temperature min</span>
          <PInputNumber
            v-model="minTemp.value"
            :min="0"
            :max="maxAllowedTemperature"
            :suffix="minTemp.unit"
            show-buttons
            button-layout="horizontal"
            decrement-button-icon="pi pi-minus"
            increment-button-icon="pi pi-plus"
          />
        </label>

        <label class="flex flex-col">
          <span>Temperature max</span>
          <PInputNumber
            v-model="maxTemp.value"
            :min="0"
            :max="maxAllowedTemperature"
            :suffix="maxTemp.unit"
            show-buttons
            button-layout="horizontal"
            decrement-button-icon="pi pi-minus"
            increment-button-icon="pi pi-plus"
          />
        </label>
      </div>

      <div class="flex flex-wrap gap-5">
        <label class="flex flex-col">
          <span>Moisture min in&nbsp;%</span>
          <PInputNumber
            v-model="minMoisture"
            mode="decimal"
            :min="0"
            :max="95"
            :step="5"
            suffix="%"
            show-buttons
            button-layout="horizontal"
            decrement-button-icon="pi pi-minus"
            increment-button-icon="pi pi-plus"
          />
        </label>

        <label class="flex flex-col">
          <span>Moisture max in&nbsp;%</span>
          <PInputNumber
            v-model="maxMoisture"
            mode="decimal"
            :min="0"
            :max="95"
            :step="5"
            suffix="%"
            show-buttons
            button-layout="horizontal"
            decrement-button-icon="pi pi-minus"
            increment-button-icon="pi pi-plus"
          />
        </label>
      </div>
    </div>

    <div class="card">
      <div>Minimal hygrometry: {{ moisture.min.value.toPrecision(2) }}&nbsp;&percnt;</div>
      <div>Maximal hygrometry: {{ moisture.max.value.toPrecision(2) }}&nbsp;&percnt;</div>
    </div>
  </main>
</template>

<script setup lang="ts">
import { useMinMaxHygroscopicBalanceView } from '@/hygroscopy/presentation/useMinMaxHygroscopicBalanceView'

const { minTemp, maxTemp, minMoisture, maxMoisture, moisture, maxAllowedTemperature } =
  useMinMaxHygroscopicBalanceView()
</script>
