<script setup></script>

<template>
  <div class="layout-footer">
    Open source project hosted on
    <a
      href="https://gitlab.com/dolmen-public/wood.tools"
      target="_blank"
      rel="noopener noreferrer"
      class="text-primary font-bold hover:underline"
      >GitLab</a
    >
  </div>
</template>
