<script setup>
import { ref } from 'vue'
import AppMenuItem from './AppMenuItem.vue'
import { useI18n } from 'vue-i18n'

const { t } = useI18n()

const model = ref([
  {
    label: 'Home',
    items: [
      { label: 'Home', icon: 'pi pi-fw pi-home', to: '/' },
      { label: 'Settings', icon: 'pi pi-fw pi-cog', to: '/settings' }
    ]
  },
  {
    label: 'Wood deformation',
    items: [
      { label: t('hygroscopic_balance.title'), icon: 'pi pi-fw pi-id-card', to: '/' },
      {
        label: 'Min/max balance',
        icon: 'pi pi-fw pi-check-square',
        to: '/hygroscopic-balance/min-max'
      },
      { label: 'Shrinkage', icon: 'pi pi-fw pi-arrows-h', to: '/shrinkage', class: 'rotated-icon' }
    ]
  }
])
</script>

<template>
  <ul class="layout-menu">
    <template v-for="(item, i) in model" :key="item">
      <app-menu-item v-if="!item.separator" :item="item" :index="i"></app-menu-item>
      <li v-if="item.separator" class="menu-separator"></li>
    </template>
  </ul>
</template>

<style lang="scss" scoped></style>
